@font-face {
    font-family: "JF Flat Regular";
    src: url('../font/JF-Flat-regular.eot');
    src: url('../font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../font/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../font/JF-Flat-regular.woff') format('woff'),
    url('../font/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body.welcome_body{
	background-image:url(../img/2.jpg) !important ;
	background-position:right;
	
}

.welcome_row{max-width: 62.5em; }


  body{
	  width:100% !important;

	  
	  /*ie old versions*/
	  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	  /*ie old versions*/
	 
	  /*perfect full page back ground*/
	  /*-webkit-background-size: cover;*/
      /*-moz-background-size: cover;*/
      /*-o-background-size: cover;*/
      /*background-size: cover;*/
	  /*perfect full page back ground*/
  }
  
  
  
  .header{
	  background: url(../img/transblue.png);
	  padding-top:16px;
	  padding-bottom:16px;
	  
  }
  
  .ads , .menu_section , .content{
	  float:right;
	  padding: 0 16px !important;
	 /* border:1px dashed red;*/
  }
  
  
  .ad_info_element{
	  border-bottom:1px solid #ccc;
	  color:#666;
	  padding:6px 0;
  }
  
  .ad_info_element:hover{
	  background:#f8f9f9;
  }

  


.wait_us{
	background:url(../img/transblue.png);
	height:40px;
	color:#fff;
	line-height:40px;
	text-align:center;
}

.social_media_icon_container a{
	width:60px;
	height:40px;
	float:right;
	margin-left:20px;
	margin-bottom:20px;
	display:inline-block;
}


a#google    {background: url(../img/g+.svg) no-repeat right;}
a#instagram {background: url(../img/in.svg) no-repeat right;}
a#youtube   {background: url(../img/yt.svg) no-repeat right;}
a#twitter   {background: url(../img/tw.svg) no-repeat right;}
a#facebook  {background: url(../img/fb.svg) no-repeat right;}


.social_home{
	height:39px;
	margin:0 0 1% 1%;
	width:99%;
}

.social_home .social_media_icon_container , 
.social_home .social_media_icon_container a ,
.social_home  span{
	float:right !important;
	line-height:38px;
	color:#fff;
}

.social_home .social_media_icon_container{width:40px;}
.social_home  span{ padding:0 6px;}

welcome_page_list{
	border:1px solid #fff;
	overflow:hidden;
	display:block;
	max-height:140px;

}

.ad_title_view{
	padding:2%;
	background: url(../img/transblack.png);
	position: absolute;
	left: 10px;
	right: 10px;
	bottom:20px;
}


.ad_title_view .article{ border:1px dashed #000; top:0 !important; right:0 !important; z-index:999;}


.ad_title_view {color:white;}
.ads_view li{ position:relative;   overflow: hidden !important;}
.ads_view li img{width:100%;}



.price{

	width:auto;
	height:auto;
	padding:12px;
	position:absolute;
	left:0;
	top:60px;
	background:url(../img/transblue.png);
	z-index:10;
}

.price_number{
	width:100% !important;
	text-align:center !important;
	font-size:2rem ;
	color:#fff;
	padding-bottom:16px;
	float:right;
}

.price_currency{
	width:100% !important;
	text-align:center !important;
	font-size:1.1rem ;
	color:#fff;
	float:right;
	
}

/*placeholder rtl direction*/
::-webkit-input-placeholder { /* WebKit browsers */
    direction: rtl;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    direction: rtl;
}
::-moz-placeholder { /* Mozilla Firefox 19+ but I'm not sure about working */
    direction: rtl;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    direction: rtl;
}





/*light box style start*/
.lighbox_container{
	background:url(../img/transblack.png);
	width:100%;
	height:100%;
	position:fixed;
	z-index:100;
	top:0;
	right:0;
	display:none;
}

.lighbox{
	background:#fff;
	position:relative;
	z-index:101;
	top:5%;
	padding:26px;
	
	
	-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.6);
}

.CloseLightBox{
	left:20px !important;
	top:20px;
	position: absolute;
	font-size:2 em;
	font-weight:bold;
	cursor:pointer;
	padding:16px;

	
}


.nextLightBox{
	position:absolute;
	right:3%;
	top:50%;
	bottom:50%;
	font-size:4em !important; 
	cursor:pointer;
	background:url(../img/transblack.png);
	padding:16px;
	display: inline-table;

}


.prevLightBox{
	position:absolute;
	left:3%;
	top:50%;
	bottom:50%;
	font-size:4em !important;
	cursor:pointer;
	background:url(../img/transblack.png);
	padding:16px;
	display: inline-table;
}
/*light box style end*/
.ad_img_previewList li {width:23%; float:right; margin:2% 0 2% 2.5%;}
ul.ad_img_previewList li:last-child{margin:2% 0 2% 0 !important;}
	
ul.ad_img_editList li {width:18%; float:right; margin:2% 0 2% 2.5%;}
ul.ad_img_editList li:last-child{margin:2% 0 2% 0 !important;}


.imgControls{
	width:26px;
	height:26px;
	margin-top:-36px;
	float:right;
}

.imgControls.remove{ background:url(../../views/img/w.png) no-repeat;}
.imgControls.undo{ background:url(../../views/img/r.png) no-repeat; display:none;}



.imgOpacity{
	-moz-opacity: 0.50;
	-khtml-opacity: 0.50;
	opacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	filter:alpha(opacity=50);
}


.current_image {border:1px solid #60e0f5;}


.login , .signup , .forgetPass{display:none;}
table{border-left:none; border-right:none; border-bottom:none; border-top:solid 1px #dddddd; direction:rtl;}
table tr{ border-bottom:solid 1px #dddddd;}

/*fix clearing box style*/
.visible-img img {
  margin: auto !important;  /* !important to overwrite negative margin-left and margin-top foundation js gives for images in clearing*/
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


.share_fb{
	background: url(../img/fb.svg) right no-repeat #446BC1;
	color:#fff;
	padding:6px 40px 6px 0px;
	float:right;
	margin:6px 0 0 6px;
	width:110px;
}

.share_tw{
	background: url(../img/tw.svg) right no-repeat #0FB0DB;
	color:#fff;
	padding:6px 36px 6px 0px;
	float:right;
	margin:6px 0 0 6px;
	width:110px;
}

.share_go{
	background: url(../img/yt.svg) right no-repeat #DB2426;
	color:#fff;
	padding:6px 40px 6px 0px;
	float:right;
	margin:6px 0 0 6px;
	width:110px;
}
	